.s-btn {
	padding: 0.6rem;

	outline: none;
	border: 1px solid transparent;
	border-radius: 3px;
	font-size: 13px;
	font-family: inherit;
	font-weight: normal;

	cursor: pointer;
	white-space: nowrap;
}

.s-btn__primary {
	background-color: hsl(206, 64%, 51%);
	color: #ffffff;
}

.s-btn__primary:hover {
	background-color: hsl(206, 64%, 64%);
}

.s-btn__second {
	background-color: hsl(205, 14%, 28%);
	color: hsl(205, 46.5%, 73.5%);
	border-color: hsl(205, 46.5%, 73.5%);
}

.s-btn__second:hover {
	background-color: hsl(205, 14%, 40%);
}

.s-btn__tag {
	height: 25px;
	padding: 0px 5px 0px 5px;
	background-color: hsl(205, 14%, 28%);
	color: hsl(206, 64%, 64%);
}

.mr-1 {
	margin: 6px;
}

.border-r-0 {
	border-radius: 0;
}

.border-left-none {
	border-left: none;
}

.border-r-left {
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

.border-r-right {
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}
