.main-content {
	width: 100%;
}

.main-content__header {
	padding: 30px;
	margin-bottom: 20px;
}

.main-content__header-questions {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: white;
}

.main-content__header-buttons {
	height: 40px;
	margin-top: 30px;
	display: flex;
	justify-content: flex-end;
}

.main-content__info {
	width: 100%;
	border-top: 2px solid var(--second-bg);
	padding: 18px;

	display: flex;
}

.main-content__info__left {
	width: 12%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main-content__info__left-commons {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 12px;
}

.main-content__info__left-commons > p {
	height: 30px;
	font-size: 1.2rem;
}

.main-content__info__left-commons > span {
	font-size: 0.8rem;
}

.main-content__info__left-views {
	padding-top: 5px;
	font-size: 0.8rem;
}

.main-content__info__left-views > span {
	margin-left: 8px;
}

.answer {
	color: rgb(20, 185, 20);
	border: 1px solid rgb(20, 185, 20);
	padding: 6px;
	border-radius: 3px;
}

.main-content__info__right {
	display: flex;
	flex-direction: column;
	padding-left: 18px;
	width: 100%;
}

.main-content__info__right > a {
	color: #328dd2;
}

.main-content__info__right > p {
	color: var(--txt-white);
	font-size: 0.8rem;
}

.main-content__info__right-labels {
	margin-top: 10px;
}

.main-content__info__right-author {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin-right: 80px;
}

.main-content__info__right-author > p {
	font-size: 0.7rem;
}

.main-content__info__right-avatar {
	font-size: 0.8rem;
	color: #328dd2;
	display: flex;
	align-items: center;
	margin-top: 3px;
}

.main-content__info__right-avatar > span {
	margin-left: 4px;
}
