.auth-form {
	width: 330px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: var(--txt-white);
}

.logo {
	margin-bottom: 24px;
	width: 45px;
	height: 45px;
}

.form-container {
	box-shadow: 0 10px 25px rgb(0 0 0 / 5%), 0 20px 48px rgb(0 0 0 / 5%),
		0 1px 4px rgb(0 0 0 / 10%);
	background-color: var(--main-bg);
	width: 100%;
	height: 100%;
	border-radius: 5px;
	padding: 24px;
}

.login-form > div {
	display: flex;
	flex-direction: column;
}

.form-input {
	margin-bottom: 12px;
}

.form-input label {
	font-weight: bold;
	margin-bottom: 6px;
	font-size: 14px;
}

.form-input > input {
	width: 100%;
	height: 35px;

	padding: 10px;

	background-color: hsl(0, 0%, 18%);

	border: 1px solid #61686c;
	border-radius: 3px;
	font-size: 13px;
	overflow: hidden;
	color: hsl(210, 4%, 95%);
}

.form-input > input:focus {
	border: 2px solid hsl(206, 64%, 64%);
}

.caption {
	font-size: 12px;
	margin-top: 32px;
	margin-bottom: 12px;
	color: hsl(210, 4%, 95%);
}

.redirect {
	width: 330px;
	display: flex;
	align-items: center;
	justify-content: center;
}
